{%load static%}

<!DOCTYPE html>
<html>
    <head>
        <link
            rel="stylesheet"
            type="text/css"
            href = "{% static 'js/dashboard.css' %}">

    </head>
    <body>
    <nav class="front">
            <h1>MULTI-WEBSITE ADVERTISEMENT AGENT</h1>
    </nav>

     <div>
            <div class = 'logo'>
                <img src="{% static 'image/logo.png'%}"  >
            </div>

            <div class="second">
              <table>
                  <tr>
                      <th><a href="http://127.0.0.1:8000"><u>Home</u></a></th>
                      <th><a href="file:///C:/Users/User/Desktop/about.html"><u>About us</u></a></th>
                      <th><a href="file:///C:/Users/User/Desktop/contact.html"><u>Contact us</u></a></th>
                      <th><a href = "http://127.0.0.1:8000/sign"><u>Sign_up</u></a></th>

                      <th><a href="http://127.0.0.1:8000/log"><u>Log in</u></a></th>
                      <th><a href="http://127.0.0.1:8000/admin"><u>Admin</u></a></th>

                  </tr>
              </table>
            </div>
        </div>



    </body>
</html>