{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
        <title>{% block title%}Home page{% endblock title%}</title>

        <link
            rel="stylesheet"
            type="text/css"
            href = "{% static 'js/new.css' %}">

    </head>
    <body> 
    
        <nav class="front">
            <h1>MULTI-WEBSITE ADVERTISEMENT AGENT</h1>
        </nav>

        <div>
            <div class = 'logo'>
                <img src="{% static 'image/logo.png'%}"  >
            </div>

            <div class="second">
              <table>
                  <tr>
                      <th><a href="http://127.0.0.1:8000"><u>Home</u></a></th>
                      <th><a href="file:///C:/Users/User/Desktop/about.html"><u>About us</u></a></th>
                      <th><a href="file:///C:/Users/User/Desktop/contact.html"><u>Contact us</u></a></th>
                      <th><a href = "http://127.0.0.1:8000/sign"><u>Sign_up</u></a></th>

                      <th><a href="http://127.0.0.1:8000/log"><u>Log in</u></a></th>
                      <th><a href="file:///C:/Users/User/Desktop/social.html"><u>Status</u></a></th>
                    
                  </tr>
              </table>
            </div>
        </div>


        <div class="para">
               <p> One of the biggest benefits of online marketing is that it is cos effective. Digital marketing helps you
                   save money and obtain more leads. With traditional marketing methods, it's difficult for small to
                   mid size businesses to compete eith larger companies. Big business have the money to allocate for TV ads,
                   radio spots, and more.</p>
        </div>

        <div class="pra">

        </div>

</body>
</html>