
{% load static%}


<!DOCTYPE html>
<html>
    <head>
        <style>
            body{
                background-image: url("{% static 'image/ads.jpg' %}");
             }

             div{
                position: fixed;
                top:100px;
                left:400px;
                color:blue;
                padding: 20px;
                background-color: lightgray;

             }

        </style>

         <script>
            function valid()
            {
                var a = document.validation.FirstName.value;
                if(a = "" || a.length <= 3 || a.length >= 20)
                    {
                        alert("input name is invalid.");
                        return false;
                    }

                var b = document.validation.pass.value;
                var c = document.validation.word.value;
                if(b != c)
                {
                    alert("Password didn't match");
                    return false;
                }



            }
        </script>

    </head>
    <body>
    <div>
        <form name="validation" method="POST" action="sign">
            {% csrf_token %}
        First name: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="FirstName" placeholder="first name">&nbsp;&nbsp;&nbsp;
        Last name: <input type="text" name="lastName" placeholder="last name" required><br><br>

            Age:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="text" name="age"  placeholder="age"  required><br><br>

        Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="email" name="email" placeholder="rana.bishesh.5@gmail.com" required><br><br>

         Password:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="password" name = 'pass' maxlength="25" minlength="8" required>   <br><br>

         Confirm Password: <input type="password" name="word" maxlength= "25" minlength="8" required><br><br>



          Gender:<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="radio" name="sex"  required>male<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="radio" name="sex" required>female<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="radio" name="sex"  required>other<br><br>


       <input type="submit" name="submit" onclick="valid()">
    </form>
    </div>
    </body>
</html>
