body{
    background-image: url("/static/image/dash.jpg");
    background-attachment: fixed;
    background-origin: center;
    background-repeat: no-repeat;
    min-height: 100%;
    width: 100px;
    background-size: cover;
                }


.front{
      height: 30px;
      width: 100%;
      position: fixed;
      text-align: center;
      text-shadow: 3px 1px black;
      color: fuchsia;
      text-emphasis-position: above;
       }


div.second{
           height: 30px;
           position: fixed;
           right: 0px;
           width: 85%;
           float: right;
           top: 70px;
           padding: 0px;
           background-color: bisque;
           }


table{
      width: 100%;
      padding: 5px;
      }


div.logo{
        float: left;
        }

img{
    top: 70px;
    position: fixed;
    width: 200px;
    height: 100px;
    }


.dash{
     background-color: aqua;
    height: 300px;
    position:fixed;
    float: left;
    padding: 10px;
    left: 600px;
    width: 30%;
    top: 200px;

}


