

body{
    background-image: url("/static/image/sale.jpg");
    background-attachment: fixed;
    background-origin: center;
    background-repeat: no-repeat;
    min-height: 100%;
    width: 100px;
    background-size: cover;
    }



.front{
      height: 30px;
      width: 100%;
      position: fixed;
      text-align: center;
      text-shadow: 3px 1px black;
      color: fuchsia;
      text-emphasis-position: above;
       }

.second{
           height: 30px;
           position: fixed;
           width: 50%;
           float: right;
           right: 0px;
           top: 70px;
           background-color: bisque;
           }


table{
      width: 100%;
      padding: 5px;

      }


u:hover{
        background-color: aqua;

    }


div.logo{
        float: left;
        }


img{
    top: 70px;
    position: fixed;
    width: 200px;
    height: 100px;
    }


.para{
          position: absolute;
          text-align: justify;
          color: green;
          padding: 15px;
          background-color: lightblue;
          top: 250px;
          width: 40%;
          }

.pra{
     background-color: lightgreen;
     position: absolute;
     top: 1000px;
     height: 500px;
     width: 30%;
     }

.footer{
       position: absolute;
          text-align: justify;
          color: green;
          padding: 15px;
          background-color: lightblue;
          top: 1700px;
          width: 500px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 400px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}
