body{
    background-image: url("/static/image/sale.jpg");
    background-attachment: fixed;
    background-origin: center;
    background-repeat: no-repeat;
    min-height: 100%;
    width: 100px;
    background-size: cover;
                }


.front{
      height: 30px;
      width: 100%;
      position: fixed;
      text-align: center;
      text-shadow: 3px 1px black;
      color: fuchsia;
      text-emphasis-position: above;
       }


div.second{
           height: 30px;
           position: fixed;
           right: 0px;
           width: 60%;
           float: right;
           top: 70px;
           padding: 0px;
           background-color: bisque;
           }


table{
      width: 100%;
      padding: 5px;
      }


div.logo{
        float: left;
        }




    .para{
          position: absolute;
          text-align: justify;
          color: green;
          padding: 15px;
          background-color: lightblue;
          top: 250px;
          width: 500px;
          }

.pra{
     background-color: lightgreen;
     position: absolute;
     top: 1000px;
     height: 500px;
     width: 30%;
     }


