 body{
    background-image: url("/static/image/sign.jpg");
    background-attachment: fixed;
    background-origin: center;
    background-repeat: no-repeat;
    min-height: 100%;
    width: 100px;
    background-size: cover;
                }


.front{
      height: 30px;
      width: 100%;
      position: fixed;
      text-align: center;
      text-shadow: 3px 1px black;
      color: fuchsia;
      text-emphasis-position: above;
       }


div.second{
           height: 30px;
           position: fixed;
           right: 0px;
           width: 85%;
           float: right;
           top: 70px;
           padding: 0px;
           background-color: bisque;
           }


table{
      width: 100%;
      padding: 5px;
      }


div.logo{
        float: left;
        }

img{
    top: 70px;
    position: fixed;
    width: 200px;
    height: 100px;
    }

div.form{
    position: fixed;
    top:150px;
    left:400px;
    width: 30%;
    height: 330px;
    color:blue;
    padding: 10px 100px;
    backface-visibility: visible;
    background-color: lightgray;
    backgrond-
    }

input{
      position: fixed;
      left: 650px;
}

input.sub{
          position:fixed;
          left:550px;

}